@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cinzel:wght@900&family=IBM+Plex+Sans&family=IBM+Plex+Sans+Devanagari:wght@300;400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');
body {
    /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; */
    overflow-x: hidden;
    background-color: #0d0c0c;
}

nav {
    background-color: transparent;
}

button.navButon {
    color: white;
    border-radius: 10px;
    background-color: rgba(237, 211, 211, 0.323);
    height: 35px;
    width: 200px;
    font-family: sans-serif;
    font-weight: 600;
    border-style: dashed;
    font-size: 18px;
    border-color: white;
}

.landing {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url(../images/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing .nav-text {
    text-align: center;
    width: 80vw;
    height: 80vh;
    font-size: 45px;
    font-family: 'Cinzel', serif;
    color: white;
    font-weight: 700;
    position: absolute;
    /* top: 45%; */
    left: 7%;
    letter-spacing: 5px;
    line-height: 40px;
    padding: 18rem 0 0 10rem;
}

a#name {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 45px;
    text-align: center;
    width: 100vw;
    color: white;
}

li.dropd {
    background-color: transparent;
    font-family: sans-serif;
}

button.navButon:hover {
    cursor: pointer;
    border: 2px dashed grey;
    background: transparent;
    font-weight: 700;
    color: gray;
}

nav.active:hover {
    background: transparent;
}

.container-Organiser {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px 20px;
    background: #0d0c0c;
}

.Organisercard {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 60px;
}

.Organisercard>div {
    box-shadow: 0 15px 20px 0 rgba(231, 231, 231, 0.5);
}

.Organisercard-image {
    width: 350px;
    height: 250px;
}

.Organisercard-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.Organisercard-text {
    margin-left: 40px;
    margin-top: -30px;
    height: 200px;
    width: 380px;
    background-color: #1d1c20;
    color: #fff;
    padding: 20px;
}

.Organisercard-meal-type {
    font-style: italic;
}

.Organisercard-title {
    font-size: 2.2rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

.Organisercard-body {
    font-size: 1.25rem;
}

.Organisercard-price {
    width: 150px;
    height: 40px;
    background-color: #970c0a;
    color: #fff;
    margin-left: auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-20deg);
    margin-top: -40px;
    transition: 0.5s ease-out;
    margin-right: -40px;
}

.Organisercard:hover {
    transform: rotate(0deg);
    cursor: pointer;
}

.Organisercard-price:hover {
    transform: rotate(0deg);
}

.organiser {
    width: 250px;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-left: 45%;
    background-color: #585151;
    margin-bottom: 4rem;
}

.organiser:hover {
    border: 2px solid white;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    color: white;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #231f1f #585656;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #585656;
}

*::-webkit-scrollbar-thumb {
    background-color: #0d0c0c;
    border-radius: 10px;
    border: 3px solid #0d0c0c;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a,
a:active,
a:focus {
    color: #333;
    text-decoration: none;
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    -ms-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer {
    background: linear-gradient(105deg, #13161d, #000000);
    padding-top: 80px;
}


/*END FOOTER SOCIAL DESIGN*/

@media only screen and (max-width: 768px) {
    .single_footer {
        margin-bottom: 30px;
    }
}

.single_footer h4 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
}

.single_footer h4::after {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background: #fff;
    margin-top: 20px;
}

.single_footer p {
    color: #fff;
}

.single_footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.single_footer ul li a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    font-size: 15px;
    text-transform: capitalize;
}

.single_footer ul li a:hover {
    color: gray;
}

.single_footer_address ul li {
    color: #fff;
}

.single_footer_address ul li span {
    font-weight: 400;
    color: #fff;
    line-height: 28px;
}

.contact_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}


/*START NEWSLETTER CSS*/

.subscribe {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
}

.subscribe__input {
    background-color: #fff;
    border: medium none;
    border-radius: 5px;
    color: #333;
    display: block;
    font-size: 15px;
    font-weight: 500;
    height: 60px;
    letter-spacing: 0.4px;
    margin: 0;
    padding: 0 150px 0 20px;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .subscribe__input {
        padding: 0 50px 0 20px;
    }
}

.subscribe__btn {
    background-color: transparent;
    border-radius: 0 25px 25px 0;
    color: rgb(60, 58, 58);
    cursor: pointer;
    display: block;
    font-size: 20px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
}

.subscribe__btn i {
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 768px) {
    .subscribe__btn {
        right: 0px;
    }
}

.subscribe__btn:hover i {
    color: gray;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}


/*START SOCIAL PROFILE CSS*/

.social_profile {
    margin-top: 40px;
}

.social_profile ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.social_profile ul li {
    float: left;
}

.social_profile ul li a {
    text-align: center;
    border: 0px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin: 0px 5px;
    font-size: 18px;
    color: #fff;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: block;
}

@media only screen and (max-width: 768px) {
    .social_profile ul li a {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .social_profile ul li a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}

.social_profile ul li a:hover {
    color: #746c6c;
    cursor: pointer;
    border: 0px;
    font-size: 25px;
}


/*END SOCIAL PROFILE CSS*/

.copyright {
    margin-top: 70px;
    padding-top: 40px;
    color: #fff;
    font-size: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    text-align: center;
}

.copyright a {
    color: gray;
    transition: all 0.2s ease 0s;
}

.copyright a:hover {
    color: gray;
}

.organised-head {
    font-size: 6rem;
    color: white;
    font-weight: 800;
    padding: 40px;
}

nav .fa-solid {
    display: none;
}

@media (max-width: 875px) {
    .nav-links ul li {
        display: block;
    }
    nav {
        overflow: hidden;
    }
    .nav-links {
        position: fixed;
        background: #02173b;
        height: 100vh;
        width: 250px;
        top: 0;
        left: -300px;
        text-align: left;
        transition: 1s;
        overflow: hidden;
        z-index: 2;
    }
    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
    .landing .nav-text {
        padding: 0;
        top: 35%;
        left: 10%;
    }
    .Organisercard {
        width: 350px;
    }
    .Organisercard-image {
        width: 300px;
        height: 200px;
    }
    .Organisercard-text {
        height: 150px;
        width: 330px;
    }
    .Organisercard-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
        margin-top: -5px;
    }
    .Organisercard-body {
        font-size: 1.2rem;
    }
    .Organisercard-price {
        width: 80px;
    }
    .container-Organiser {
        flex-direction: column;
    }
}

@media (max-width:575px) {
    .landing .nav-text {
        font-size: 35px;
        top: 20%;
    }
    .organiser {
        margin-left: 20%;
    }
}