body {
    width: 100%;
    height: 100vh;
    background-size: 100%;
}

.form-container {
    text-align: center;
    position: absolute;
    top: 15vh;
    padding-top: 40vh;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #000;
}

input {
    border-radius: 10px;
    border: 1px solid #ccd0d9;
}

#no-background {
    background-image: none;
}