<html>

<head>
  <title>Traditional Wear</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Merriweather&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../../static/css/Traditional_Wear.css">

</head>

<body>

  <nav class="navbar navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a id="name" class="navbar-brand" href="#">Hand-E-Crafts</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#"><button class="navButon">Home</button></a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="navButon">Handlooms</button><span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropd"><a href="../Clothing_Page/">Clothing</a></li>
            <li class="dropd">
              <a href="../Fashion_Accessories/">Fashion Accessories</a>
            </li>
            <li class="dropd">
              <a href="../Traditional_Wear/">Traditional Wear</a>
            </li>
            <li class="dropd"><a href="#">Made Ups</a></li>
            <li class="dropd"><a href="#">Floor Covers</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="navButon">Handicrafts</button><span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropd"><a href="../Wood_Works/">Wooden Works</a></li>
            <li class="dropd"><a href="../Stone_Works/">Stone Works</a></li>
            <li class="dropd"><a href="#">Natural Fibre</a></li>
            <li class="dropd"><a href="#">Glass Works</a></li>
            <li class="dropd"><a href="#">Cane & Bamboo</a></li>
            <li class="dropd"><a href="#">Clay & Ceramic</a></li>
            <li class="dropd"><a href="#">Soft Goods</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="navButon">Statewise
              Handiwork</button><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropd"><a href="#">Assam</a></li>
            <li class="dropd"><a href="#">Kolkata</a></li>
            <li class="dropd"><a href="#">Maharshtra</a></li>
            <li class="dropd"><a href="#">Gujarat</a></li>
            <li class="dropd"><a href="#">Rajasthan</a></li>
            <li class="dropd"><a href="#">Kashmir</a></li>
            <li class="dropd"><a href="#">Kerala</a></li>
          </ul>
        </li>
        <li class="active">
          <a href="#"><button class="navButon">About Us</button></a>
        </li>
        <li class="active">
          <a href="#"><button class="navButon">About Us</button></a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><button class="navButon">Predictions</button><span
              class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropd"><a href="#">Demand Forecasting</a></li>
            <li class="dropd"><a href="#">Automatic quality check</a></li>
            <li class="dropd"><a href="#">Sentiment Analysis</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!-- carousel -->

  <div id="carousel-example" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example" data-slide-to="1"></li>
      <li data-target="#carousel-example" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <a href="#"><img src="../frontend//static/images/banner-1.png" class="traditional-img" /></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="../../static/images/banner-2.png" class="traditional-img" /></a>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <a href="#"><img src="../../static/images/banner-3.png" class="traditional-img" /></a>
        <div class="carousel-caption">
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
  <!-- carousel ends -->

  <div class="wrap-explore">
    <hr class="span-explore-1">
    <div class="explore">EXPLORE YOUR DEZIRE</div>
    <hr class="span-explore-2">
  </div>

  <!-- sections of cards  -->
  <section class="content-wrapper-main"> <!-- card section all wrapped -->

    <div class="content-container"> <!-- jhumka  card-->
      <p class="content-heading">Jhumka</p>
      <div class="content-image-container">
        <img src="../../static/images/jhumka.jpg" alt="jhumka" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹399</p>
        <div class="rating">
          <img src="../../static/images/5 star.svg" alt="rating" class="review-img">
          <p class="rating-tag">5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../frontend/static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>
    <div class="content-container"> <!-- Bangles  card-->
      <p class="content-heading">Bangles</p>
      <div class="content-image-container">
        <img src="../../static/images/bangles.jpg" alt="Bangles" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹499</p>
        <div class="rating">
          <img src="../frontend/static/images/5 star.svg" alt="rating" class="review-img">
          <p class="rating-tag">5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../../static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>
    <div class="content-container"> <!-- Anklets  card-->
      <p class="content-heading">Anklets</p>
      <div class="content-image-container">
        <img src="../../static/images/anklet.jpeg" alt="Anklets" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹599</p>
        <div class="rating">
          <img src="../../static/images/4.5 star.svg" alt="" class="review-img">
          <p class="rating-tag">4.5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../../static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>

    <div class="content-container"> <!-- Waist chain  card-->
      <p class="content-heading">Waist chain</p>
      <div class="content-image-container">
        <img src="../../static/images/Waist chain.jpg" alt="Waist chain" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹699</p>
        <div class="rating">
          <img src="../../static/images/5 star.svg" alt="" class="review-img">
          <p class="rating-tag">5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../../static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>
    <div class="content-container"> <!-- Nose rings  card-->
      <p class="content-heading">Nose rings</p>
      <div class="content-image-container">
        <img src="../../static/images/nose ring.jpg" alt="Nose rings" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹299</p>
        <div class="rating">
          <img src="../../static/images/4.5 star.svg" alt="" class="review-img">
          <p class="rating-tag">4.5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../../static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>
    <div class="content-container"> <!-- Jooti  card-->
      <p class="content-heading">Jooti</p>
      <div class="content-image-container">
        <img src="../../static/images/jooti.jpeg" alt="Jooti" class="content-img">
      </div>
      <p class="content-about">Lorem ipsum dolor sit amet consectetur || Sed velit || pasf yesj</p>
      <div class="rupee-reviews">
        <p class="rupees">₹499</p>
        <div class="rating">
          <img src="../../static/images/5 star.svg" alt="" class="review-img">
          <p class="rating-tag">5/5</p>
        </div>

      </div>
      <a href="#">
        <div class="buy-btn"><img src="../../static/images/buy now icon.svg" class="buy-icon" />Buy Now</div>
      </a>

    </div>


  </section>
</body>

</html>
