body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;

}

h1 {
    margin: 0;
    margin-left: 500px;
}

h2 {
    margin: 0;
}

main {
    padding: 1rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

section {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 250px;
}

button[type="submit"]:hover {
    background-color: #555;
}