<html>
    <head>
    <title>Login Form</title>
    <link rel="stylesheet" href="../../static/css/style1.css">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
   </script>
    </head>
    <body style="background-image: url(https://t4.ftcdn.net/jpg/05/72/47/53/240_F_572475320_YVRmfKYZ4nNwHKWOLcwMZygfS1EBDtn0.jpg);">
        <section class="container-fluid ">
            <section class="row justify-content-center">
                <section class="col-12 col-sm-6 col-md-14"></section>
            
            <form method="POST" action="/loginCustomer/"class="form-container" style="background-image: none;">
                <div id="no-background ">
                <h1 style="text-align: center;color:white"><u><b>Login</b></u></h1>
                <label for="text" ><b><u>Email/Phone Number<u></b></label><br>
                <input id="p1" type="text" class="Userdata" name="Details" placeholder="UserID"><br>
                
               <label for="password"><b><u>Password</b></label><br>
               <input id="p1" type="password" class="password" name="Password_Details"placeholder="Password"><br>
              
              
            <button type="submit" class="btn btn-primary ">Login</button>
            </div>
            </form>
        </section>
    </section>
    </section>
    </body>

</html>